body {
background-color: lavender;
font-family: 'Open Sans', sans-serif;
}
.ensemble{
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bio {
    color: darkgray;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.link {
    background-color: white;
    border-radius: 5px;
}
.contenu {
    background-color: white;
    border-radius: 5px;
}
.berners {
    border-radius: 50%;
    border : solid 4px grey
}
.berners {
    margin-top: 30px;
    width: 110px;
    height: 110px;
}
h1 {
    font-size: 30px;
    color: rgb(228, 59, 93);
    font-weight: 900;
}
p {
    text-align: justify;
}
a {
    background-color: rgb(228, 59, 93);
    border-radius: 3px;
    padding: 0.5em;
    text-decoration: none;
    color:white;
    transition: 0.3s;
}
a:hover {
    background-color: rgb(153, 39, 62);
}
